body {
    margin: 0;
    padding: 0;
    background: url(img/Fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.editor-perfil {
    width: 100%;
    height: 90%;
    background: #ebe0b2;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 50px;
}

.editor-perfil desc {
    width: 30%;
    border-right: 60%;
    font-size: 20px;
    text-align: justify;
    position: relative;
    color: black;

}

.editor-perfil h1 {
    margin: 0;
    margin-bottom: 20px;
    margin-right: 10%;
    padding: 0 0 20px;
    text-align: left;
    font-size: 35px;
    color: black;
}

.editor-perfil h2 {
    width: 30%;
    margin-right: 10%;
    margin-left: 60%;
    font-size: 20px;
    text-align: justify;
    position: relative;
    color: black;
}

.editor-perfil input[type = "text"], [name="Nombre"] {
    width: 30%;
    height: 7%;
    font-size: 20px;
}

.editor-perfil input[type = "text"], [name="Desc1"] {
    width: 30%;
    height: 7%;
    font-size: 20px;
}

.editor-perfil input[type = "file"] {
    width: 30%;
    height: 5%;
    margin-left: 50%;
    color: black;
}

.editor-perfil input[type="submit"] {
    width: 500px;
    border: none;
    outline: none;
    height: 40px;
    background-color:white;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    position: left;
}
